<!DOCTYPE html>
<html>
    <head>
        <title>Wipro Backend</title>
    </head>
    <body>
        <h2>Hello This is First Day Project</h2>
        <h3>The Problem statement :-</h3>
        <ol>
            <li>Use the user Id to get the user details</li>
            <li>Use id to update the details</li>
        </ol>
        <h4>Answer:1</h4>
        <p>Go to the url at the top and in the last of URL write any number between <strong>1-10</strong> (which is also the id of the user) <br/>
            Example:-http://localhost:3001/1
        </p>
        <h4>Answer:2</h4>
        <p>Input the new values you want to insert in your data for that id and press submit.
        </p>
    </body>
</html>