<!DOCTYPE html>
<html>
    <head>
        <title>Wipro Backend</title>
    </head>
    <body>
        <h2>Hello This is First Day Project</h2>
        <div style="width: 20vw; margin:auto; box-shadow:0px 0px 8px #333;padding:1rem;border-radius:20px">
            <div style="display: flex; justify-content:space-between; align-items: center;">
                <h4>Id :</h4><p><%= id || 'Default' %></p>
            </div>
            <div style="display: flex; justify-content:space-between;align-items: center;">
                <h4>Name :</h4><p><%= name || 'Default' %></p>
            </div>
            <div style="display: flex; justify-content:space-between;align-items: center;">
                <h4>Age :</h4><p><%= age || 'Default' %></p>
            </div>
        </div>
    </body>
</html>