<!DOCTYPE html>
<html>
    <head>
        <title>Wipro Backend</title>
    </head>
    <body>
        <h2>Hello This is First Day Project</h2>
        <form onsubmit="updateUser(event)" style="width: 20vw; margin:auto; box-shadow:0px 0px 8px #333;padding:1rem;border-radius:20px">
            <div style="display: flex; justify-content:space-between; align-items: center;">
                <h4>Id :</h4><p id="id"><%= id || 'Default' %></p>
            </div>
            <div style="display: flex; justify-content:space-between;align-items: center;">
                <h4>Name :</h4><p><%= name || 'Default' %></p>
            </div>
            <div style="display: flex; justify-content:space-between; align-items: center;">
                <h4>New Name :</h4><input id="name" />
            </div>
            <div style="display: flex; justify-content:space-between;align-items: center;">
                <h4>Age :</h4><p><%= age || 'Default' %></p>
            </div>
            <div style="display: flex; justify-content:space-between; align-items: center;">
                <h4>New Age :</h4><input id="age" />
            </div>
            <button type="submit">Edit</button>
        </form>
    </body>
    <script>
        function updateUser(e){
            // e.preventDefault();
            console.log(e)
            const id=document.getElementById("id").innerHTML
            const name = document.getElementById("name").value
            const age = document.getElementById("age").value
            fetch(`http://localhost:3001/${id}/update`,{
                method:"post",
                body:JSON.stringify({
                    id,
                    name,
                    age,
                }),
                headers:{
                    'Content-Type':'application/json'
                }
            })
        }
    </script>
</html>